
*,
*:after,
*:before {
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

input { padding: 6px 13px !important; }

html, body { height: 100%;margin: 0; }

header {
	background-color: rgb( 22, 150, 136);
	height: 150px;
}

body {
	background-color: rgb( 217, 219, 214);
}

.content {
	position: absolute;
	top: 5%; left: 6%; right: 6%; bottom: 5%;
	background-color: rgb( 238, 238, 238);
	box-shadow: 1px 0.5px 10px rgba(0, 0, 0, 0.37);
}

.chat-header {
	position: relative;
	height: 60px;
}

.content > .header-left {
	height: inherit;
	display: flex;
	width: 34.666667%;
}

.content > .header-left > .profile-pic {
	max-width: 45px;
	padding: 10px 12px;
}

.content > .header-left > .profile-pic > img {
	border-radius: 50%;
	width: 40px;
}

.content .header-right {
	height: inherit;
	display: flex;
	border-left: 1px solid rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.17);
	z-index: 99;
	position: relative;
	height: 60px;
	background: rgb( 238, 238, 238);
}

.chat-body {
	position: absolute;
	top: 60px; bottom: 0; left: 0; right: 0;
}

.chat-list {
	position: absolute;
	top: 60px; bottom: 0; right: 65.333333%; left: 0;
	background-color: rgb( 251, 251, 251);
}

/* ROOM */

/* CHAT LIST */

.chat-list .item-wrapper {
	display: flex;
	position: relative;
}

.chat-list .item-wrapper:hover {
	background-color: rgb(244, 245, 245) !important;
}

.chat-list .item-wrapper img {
	border-radius: 50%;
	width: 40px;
	height: 40px;

	/* Fix for an unexepected width error */
	min-width: 40px;
	/* Fix for padding images */
	transform: translate(40%,35%);
}

.chat-list .item-wrapper .text-wrapper {
	border-bottom: 1px solid rgba(204, 204, 204, 0.27);
	margin-left: 16px;
	width: 100%;
}

.chat-list .item-wrapper .text-wrapper p {
	font-family: 'Helvetica';
	font-size: 16px;
	letter-spacing: 0.2px;
	color: #333;
	//padding: 4px 0px;
	padding: 14px 12px;
}

.chat-list .item-wrapper .notification {
    position: absolute;
    bottom: -4px;
    left: 7rem;
    color: #616161;
}

.chat-list .item-wrapper .notification::after {
    content: '';
    position: absolute;
    top: -2px;
    padding: 10px;
    background: rgb(36,208,102);
    margin-left: 270px;
    border: 1px solid transparent;
    border-radius: 50px;
}

/* MODAL */

.super-bg {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background: rgb(177, 177, 177);
}

.user-header {
	position: relative;
    background: rgb(22, 150, 135);
    height: 200px;
}

.user-modal {
    position: absolute;
    background: rgb(238, 238, 238);
    top: 16%;
    left: 34%;
    right: 34%;
    bottom: 8%;
    border-radius: 4px;
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.22);
}

.user-p-wrapper {
    position: relative;
    text-align: center;
    top: 80%;
}

.user-p-wrapper p {
  color: #ebebeb;
}

.user-img-wrapper {
    position: absolute;
    top: 10%;
    left: 35%;
}

.user-img-wrapper > img  {
  border-radius: 100px;
  width: 128px;
  height: 128px;
}

.user-text > input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.31);
    outline: none;
    text-align: center;
}

.user-text {
    position: relative;
    margin: 0 auto;
    max-width: 300px;
    top: 20px;
}

.user-button-wrapper a {
  width: 100%
}

.user-button-wrapper {
    position: relative;
    max-width: 150px;
    margin: 0 auto;
    top: 60px;
}
